<div class="container-fluid">
    <h2 style="margin-left: 500px;">DEPARTMENT INFORMATION</h2>
    <table  border="3" class="table table-hover">
        <thead>
        <tr>
            <th>Department No</th>
            <th>Department Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temp of departments">
            <td>{{temp.deptNo}}</td>
            <td>{{temp.deptName}}</td>
            <td>{{temp.location}}</td>
        </tr>
    </tbody>
</table>
</div>

