
        table {
            width: 100%;
          }
          tr {
            text-align: left;
            border: 1px solid black;
          }
          th, td {
            padding: 15px;
          }
          tr:nth-child(odd) {
            background: #CCC
          }
          tr:nth-child(even) {
            background: #FFF
          }
          .no-content {
            background-color: red;
          }